
.body{
    display: flex;
    border: 2px solid #9de9d6;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    height: 150px;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    margin-left: 150px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;

    margin: 7px;
    color:#70e3fe ;
}

.display{
    height: 150px;
    width: 150px;
    border:2px solid #64e2ed;
    margin: 0 auto;
}

.num{
    display: flex;
    align-items: center;
    margin-left: 45px;

}

.numDisplay{
    display: flex;
    align-items: center;
    border:2px solid #64e2ed;
    height: 100px;
    margin: 10px 10px 10px 10px;
}
.buttonsGroup{
    border: 2px solid #9de9d6;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}